#main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.button-login button {
  width: 100%;
  margin-bottom: 5px;
}

.logo h1{
  text-align: center;
  font-weight: bold;
  color: #3f51b5;
}
