<div id="main">
  <form id="login" [formGroup]="formLogin" (ngSubmit)="login()">

    <div class="logo">
      <h1>CASH FLOW</h1>
    </div>
    <div class="email">
      <mat-form-field appearance="outline">
        <mat-label>Seu email</mat-label>
        <input matInput formControlName="email" placeholder="Seu E-mail">
      </mat-form-field>
    </div>

    <div class="password">
      <mat-form-field appearance="outline">
        <mat-label>Sua senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Sua senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="button-login">
      <button mat-raised-button color="primary" type="submit">Fazer login</button>
    </div>
  </form>
</div>
